<h1>Howard County Beers</h1>
<h2>Hysteria</h2>
<br>
<a href="https://www.hysteriabrewing.com/">Website</a>
<br>
<h3>Beer List</h3>
<div id="hysteriaBeerList">
  <ul>
    <li>#EFFYEA, Double IPA, 10.5% ABV, 76 IBUS</li><br>
    <li>BREW EM' HOP UPS, BLUEBERRY GRANOLA FRUITED SOUR, 6% ABV, 24 IBUS</li><br>
    <li>BALTIMORE CHOP, MILKSHAKE INDIA PALE ALE, 6% ABV, 28 IBUS</li><br>
    <li>SALUTE YOUR SCHWARTZ, TOASTED MARSHMALLOW SCHWARTZBIER, 5.6 ABV, 25 IBUS</li><br>
    <li>DREAM TEAM, AMERICAN HAZY INDIA PALE ALE, 7% ABV, 44 IBUS</li><br>
    <li>TIPPING POINT, AMERICAN PALE WHEAT ALE, 5.6% ABV, 30 IBUS</li><br>
    <li>CORN TEEN DAYDREAM, DRY HOPPED SOUR ALE, 5.6% ABV, 28.5 IBUS</li><br>
    <li>MISSIN' YOU, DOUBLE INDIA PALE ALE, 8.1% ABV, 30 IBUS</li><br>
    <li>WHAT YOU WANT [IDAHO 7], INDIA PALE ALE, 6.3% ABV, 30 IBUS</li><br>
    <li>OCCUPATIONAL HAZARD PAY, BELGIAN STRONG ALE, 9% ABV, 40 IBUS</li><br>
    <li>1996, WEST COAST INDIA PALE ALE, 6.5% ABV, 66 IBUS</li>
  </ul>
</div>
Beer list adapted from <cite><a href="https://www.hysteriabrewing.com/beers">Hysteria's website</a></cite>.
<br>
<h3>Directions</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7485.025510930733!2d-76.84211654189214!3d39.17469716595559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7de3e695269f9%3A0xe8aa38272021c365!2sHysteria%20Brewing%20Company!5e0!3m2!1sen!2sus!4v1596323336021!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
