<h1>Howard County Beers</h1>
<h2>Manor Hill</h2>
<br>
<a href="https://manorhillbrewing.com/">Website</a>
<br>
<h3>Beer List</h3>
<div id="manorHillBeerList">
  <ul>
    <li>BLUEBERRY GRISETTE, FARMHOUSE ALE, 5.2% ABV</li><br>
    <li>CITRA SPLENDOR, DOUBLE IPA, 8.3% ABV, 83 IBUs</li><br>
    <li>CROOKED BEAK, INDIA PALE ALE, 7.7% ABV</li><br>
    <li>FESTBIER, VIENNA LAGER, 5.5% ABV</li><br>
    <li>GRISETTE, FARMHOUSE ALE, 4.7% ABV</li><br>
    <li>JOUSTING WINDMILLS: FRUITY PEPPERS, SMOOTHIE ALE, 4% ABV</li><br>
    <li>MANOR HILL IPA, INDIA PALE ALE, 6.8% ABV</li><br>
    <li>MILD MANOR’D AMBER, AMBER ALE, 5.3% ABV</li><br>
    <li>MYRTLE, INDIA PALE ALE, 7.7% ABV</li><br>
    <li>NO SLEEVES (2020), PALE ALE, 5.5% ABV</li><br>
    <li>OUD BRUIN (750 ml), OUD BRUIN, 8.0% ABV</li><br>
    <li>PILSNER, PILSNER, 5.3% ABV</li><br>
    <li>SPOTTED WHALES, BALTIC PORTER, 9% ABV</li><br>
    <li>WELDING MONKEY, INDIA PALE ALE, 6.8% ABV</li>
  </ul>
</div>
Beer list adapted from <cite><a href="https://manorhillbrewing.com/our-beers/">Manor Hill's website</a></cite>.
<br>
<h3>Directions</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23410.92104717369!2d-76.87438235480514!3d39.250836941880735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8209106e7198f%3A0x244a2cd417e8bf8a!2sManor%20Hill%20Brewing!5e0!3m2!1sen!2sus!4v1596323199951!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
